<!DOCTYPE html>
<html lang="pt-br">

    <%- include partials/head.ejs %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <%- include partials/headerAreaRestritaUsuarios.ejs %>
            <main>
                <div class="du-meuPerfil-info">
                    <h1>Meu Perfil</h1>

                    <div action="/dashboardUsuario/alterandoDados" method="POST" class="container-perfil">
                        <div class="form-group">
                            <div class="form-control">
                                <!-- //<img class="du-meuPerfil-info-secao-icone" src="../img/user.png" alt="ícone usuario"> -->
                                <div>
                                    <p class="du-meuPerfil-info-secao-titulo">Nome</p>
                                    <input type="text" class="form-control" name="nome" placeholder="nome" value="<%=dadosUsuario.nome%>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <!-- <img class="du-meuPerfil-info-secao-icone" src="../img/icone_email.png" alt="ícone email"> -->
                                <div>
                                    <p class="du-meuPerfil-info-secao-titulo">Email</p>
                                    <input type="text" class="form-control" name="email" placeholder="E-mail" value="<%=dadosUsuario.email%>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <!-- <img class="du-meuPerfil-info-secao-icone" src="../img/driver-license.png" alt="ícone documento"> -->
                                <div>
                                    <p class="du-meuPerfil-info-secao-titulo">CPF / CNPJ</p>
                                    <input type="text" class="form-control" name="cpfCnpj" placeholder="CPF ou CNPJ" value="<%=dadosUsuario.cpfCnpj%>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <!-- <img class="du-meuPerfil-info-secao-icone" src="../img/phone.png" alt="ícone telefone"> -->
                                <div>
                                    <p class="du-meuPerfil-info-secao-titulo">Telefone</p>
                                    <input type="text" class="form-control" name="telefone" placeholder="Telefone" value="<%=dadosUsuario.telefone%>" style="width: 100px;">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Salvar Alterações">
                    </form>

                    <p class="du-meuPerfil-info-rodape">Precisa alterar sua senha? <a href="/dashboardUsuario/alteraSenha">Clique aqui</a></p>
                </div>
            </main>

            <!-- Footer -->
            <%- include partials/footer.ejs %>

    </body>

</html>