<!DOCTYPE html>
<html lang="pt-br">
    <%- include partials/head.ejs %>
<body>
    <%- include partials/headerAreaRestritaMembros.ejs %>
    <% if (resultados) { %> 
    <% for (resultado of resultados) { %> 
        <div id="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: <%=resultado.idSolicitacao%></h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>                        
                        <p><%=resultado.endereco%> </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ <%=resultado.valor%> </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho aproximado do imóvel:</p>
                        <p><%=resultado.tamanhoImovel%>  m²</p>
                    </div>
                </div>
    
                <div class="servicoContratado2">
                    <br>
                    <div class="info"> 
                        <p class="tipo1"  id="servicoContratado__tipo--ajuste">Serviços contratados:</p>
                        <p>servico </p>
                    </div>
                </div>
            </div>   

            <div class="containerCentro">
            
                <p class="tipo1">Data e horario agendado:</p>
                <p><%=resultado.horarioInicio%></p>

                <div class="botoes">
                        
        <!--             < for(let i = 0; i<aprovacao.horariosSelecionados.length ; i ++){ %>  
                        <div>
                            <input type="radio" id = "horario1" name="answer">
                            <label>< aprovacao.horariosSelecionados[i] </label> 
                        </div>
                    } > 
                     -->
                </div>
            </div>

            <div class="containerDireita">
                <div class="botoes">
                    <div class="entregaveis">
                        <p>Aprovar</p> 
                    </div> 
                    <div class="prestador">
                        <p>Não aprovar</p> 
                    </div>
                </div>
                <a href="dashboardMembro_modal.html" class="informacoes">Mais informações</a>
            </div>
        
        </div>
    <% } %> 
    <% } else { %>
         <div id="containerServico">

            <div class="servicoContratado1">
                <h2>Ops! Voce ainda nao tem novas solicitacoes</h2>
            </div>

        </div>
        
        <% } %> 
</body>
</html>