<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/square-logo-lineorange.png">
    <link rel="stylesheet" href="../css/partials/header.css">
    <link rel="stylesheet" href="../css/dashboardMembro_aprovacoes.css">
    <title>Aprovações</title>
</head>

<body>
    <header>
        <%- include partials/headerAreaRestritaMembros.ejs %>
    </header>

    <% for (aprovacao of aprovacoes) { %> 
        <div class="containerServico">
            <div class="containerEsquerda">
                <div class="servicoContratado1">
                    <h2>Número serviço: <%=aprovacao.idServico%></h2>
                
                    <div class="info">
                        <p class="tipo1">Endereço:</p>                        
                        <p><%=aprovacao.endereco%> </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço:</p>
                        <p>R$ <%=aprovacao.valorDoServico%> </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho aproximado do imóvel:</p>
                        <p><%=aprovacao.tamanhoImovel%>  m²</p>
                    </div>
                </div>
    
                <div class="servicoContratado2">
                    <br>
                    <div class="info"> 
                        <p class="tipo1">Serviços contratados:</p>
                        <p><%=aprovacao.servicosContratados%> </p>
                    </div>
                </div>
            </div>   

            <div class="containerCentro">
            
                <p class="tipo1">Selecione um horario:</p>

                <div class="botoes">
                    <div>     
                        <label><%= aprovacao.horariosSelecionados %> ></label> 
                        <input type="radio" id = "horario1" name="answer">
                    </div>
                </div>
            </div>

            <div class="containerDireita">
                <div class="botoes">
                    <div class="entregaveis">
                        <p>Aprovar</p> 
                    </div> 
                    <div class="prestador">
                        <p>Não aprovar</p> 
                    </div>
                </div>
                <a href="dashboardMembro_modal.html" class="informacoes">Mais informações</a>
            </div>
        
        </div>
    <% } %> 
    
</body>
</html>