<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" href="../css/partials/header.css">  
    <%- include partials/head.ejs %>
<body>
    <%- include partials/headerAreaRestritaMembros.ejs %>
    <% if (resultados) { %> 
    <% for (resultado of resultados) { %> 
        <div id="containerServico1">
            
            <div class="containerEsquerda">
                
                <div class="servicoContratado1">
                   <h4>Número serviço: <%=resultado.idSolicitacao%></h4>
                    <div class="info">
                        <p class="tipo3"> Informações da sessao:</p>
                    </div>
                    
                    <p class="tipo1">Data e horario agendado: </p>
                    <p><%=resultado.reservas.horarioInicio%></p>
                
                    <div class="info">
                        <p class="tipo1">Endereço:  </p>                        
                        <p><%=resultado.endereco%></p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Valor do serviço: </p>
                        <p>R$ <%=resultado.valor%></p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Tamanho aproximado do imóvel:</p>
                        <p><%=resultado.tamanhoImovel%>  m²</p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Serviços contratados:</p>
                        <p><%=resultado.tamanhoImovel%>  m²</p>
                    </div>
                </div>
    
                <div class="servicoContratado1">
                    
                    <div class="info">
                        <p class="tipo3"> Informações do (a) cliente </p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Nome do responsavel que acompanhará a sessao :</p>
                        <p><%=resultado.nomeContato%></p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Email do usuario que reservou a sessao:</p>
                        <p><%=resultado.reservas.usuarios.email%></p>
                    </div>
                    <div class="info">
                        <p class="tipo1">Telefone:</p>
                        <p><%=resultado.telefoneContato%></p>
                    </div>
                    <form>
                        <input class = "botoes-2" type="file" multiple="multiple">
                    </form>
                </div>
            </div>   

            <div class="containerCentro">
            
             

                <div class="botoes" style="width: 150px; height: 18px;">
                   
                        
        <!--             < for(let i = 0; i<aprovacao.horariosSelecionados.length ; i ++){ %>  
                        <div>
                            <input type="radio" id = "horario1" name="answer">
                            <label>< aprovacao.horariosSelecionados[i] </label> 
                        </div>
                    } > 
                     -->
                </div>
            </div>

            <div class="containerDireita">
                <div class="botoes">
                    <div class="entregaveis">
                        <p> <a class="btn-end" href="."> FINALIZAR </a></p>
                    </div>
                   
                </div>
       
            </div>
        
        </div>
    <% } %> 
    <% } else { %>
         <div id="containerServico">

            <div class="servicoContratado1">
                <h2>Ops! Voce ainda nao tem novas solicitacoes</h2>
            </div>

        </div>
        
        <% } %> 
</body>
</html>