<!DOCTYPE html>
<html lang="en">
<%-include partials/head2.ejs%>

    <body>
        <%-include partials/headerAreaRestritaMembros.ejs%>
            <main>
                <div class="ordenacao ordenacaoMargin">
                    <div class="cronos cronosMargin">
                        <p>Ordenar por:</p>
                        <select name="ordCronologica" id="ordCronologica" class="dropdown">
                            <option value="mais nova a mais antiga">Mais nova a mais antiga</option>
                            <option value="mais antiga a mais nova">Mais antiga a mais nova</option>
                        </select>
                    </div>
                    <div class="busca">
                        <p> Buscar: </p>
                        <form action="/dashboardMembro/buscar" method="GET">
                            <input type="search" name="jobId">
                            <input type="submit" value="Pesquisar">
                        </form>
                    </div>
                </div>
                <% if (resultadosJobs) { %>
                    <% for (resultado of resultadosJobs) { %>
                        <div class="containerServico containerPadding">
                            <div class="containerEsquerda">
                                <div class="servicoContratado1">
                                    <h2>Número serviço: <%= resultado.idSolicitacao%>
                                    </h2>
                                    <div class="info">
                                        <p class="tipo1">Endereço:
                                        </p>
                                        <p>
                                            <%= resultado.endereco%>
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p class="tipo1">Valor do serviço:</p>
                                        <p>R$ <%= resultado.valor%>
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p class="tipo1">Tamanho aproximado do imóvel:</p>
                                        <p>
                                            <%= resultado.valor%> m²
                                        </p>
                                    </div>
                                    <div class="info">
                                        <p class="tipo1">Data:</p>
                                        <p>
                                            <% const data=resultado.reservas.dataInicio %>
                                                <% const dataString=data.toString() %>
                                                    <% const dataFormatada=dataString.replace("21:00:00 GMT-0300", " " )
                                                        %>

                                                        <%=dataFormatada%> às
                                                            <%=resultado.reservas.horarioInicio%>
                                        </p>
                                    </div>
                                </div>

                                <div class="servicoContratado2">
                                    <br>
                                    <div class="info">
                                        <p class="tipo1">Serviços contratados:</p>
                                        <p>
                                            <% const servico=resultado.reservas.servico%>
                                                <% const servicoString=servico.toString() %>
                                                    <% const mapObj={fotografia : " Fotografia" ,
                                                        fotografia3603d: " Fotografia 360 3D" ,
                                                        videoDinamico: " Vídeo Dinâmico" ,
                                                        imagensAereas: " Imagens Aéreas" }; %>
                                                        <% const servicoFormatado=servicoString.replace
                                                            (/fotografia|fotografia3603d|videoDinamico|imagensAereas/gi,
                                                            function (matched) {return mapObj[matched]})%>

                                                            <%=servicoFormatado%>
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="servicoContratado3">
                                <div class="info">
                                    <p class="tipo2"> Informações do (a) cliente </p>
                                </div>
                                <div class="info">
                                    <p class="tipo1">Nome:</p>
                                    <p>
                                        <%=resultado.reservas.usuarios.nome%>
                                    </p>
                                </div>
                                <div class="info">
                                    <p class="tipo1">Email:</p>
                                    <p>
                                        <%=resultado.reservas.usuarios.email%>
                                    </p>
                                </div>
                                <div class="info">
                                    <p class="tipo1">Telefone:</p>
                                    <p>
                                        <%=resultado.reservas.usuarios.telefone%>
                                    </p>
                                </div>
                            </div>

                            <div class="botoes">
                                <div class="entregaveis">
                                    <p> <a class="botao-1 btn_entregaveis"
                                            href="../dashboardUsuario/dashboardUsuario_entregaveis.html"> Ver
                                            entregáveis </a></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
            </main>
            <%- include partials/footer.ejs %>
    </body>

</html>