<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>
<body>
    <%- include partials/headerAreaRestritaMembros.ejs %>
    <main>
        <div class="ordenacao">
            <div class="cronos">
                <p>Ordenar por:</p>
                <select name="ordCronologica" id="ordCronologica" class="dropdown">
                    <option value="mais nova a mais antiga">Mais nova a mais antiga</option>
                    <option value="mais antiga a mais nova">Mais antiga a mais nova</option>
                </select>
            </div>
            <p> Buscar: </p>
            <input type="text" name="nome">
            <div class="link-calendario"><a href="http://localhost:3000/dashboardMembro/calendario">Bloquear calendario</a></div>
        </div>

        <% if (resultados) { %> 
            <% for (resultado of resultados) { %> 
                <div id="containerServico">
                    <div class="containerEsquerda">
                        <div class="servicoContratado1">
                            <h2>Número serviço: <%=resultado.idSolicitacao%></h2>
                        
                            <div class="info">
                                <p class="tipo1">Endereço:</p>                        
                                <p><%=resultado.endereco%> </p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Valor do serviço:</p>
                                <p>R$ <%=resultado.valor%> </p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Tamanho aproximado do imóvel:</p>
                                <p><%=resultado.tamanhoImovel%>  m²</p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Serviços contratados:</p>
                                <p><%=resultado.tamanhoImovel%>  m²</p>
                            </div>
                        </div>
            
                        <div class="servicoContratado2">
                            
                            <div class="info">
                                <p class="tipo2"> Informações do (a) cliente </p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Nome :</p>
                                <p><%=resultado.nomeContato%></p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Email:</p>
                                <p><%=resultado.reservas.usuarios.email%></p>
                            </div>
                            <div class="info">
                                <p class="tipo1">Telefone:</p>
                                <p><%=resultado.telefoneContato%></p>
                            </div>
                        </div>
                    </div>   
        
                    <div class="containerCentro">
                    
                        <p class="tipo1">Data e horario agendado:</p>
                        <p><%=resultado.reservas.horarioInicio%></p>
        
                        <div class="botoes" style="width: 150px; height: 18px;">
                            <form>
                                <input class = "botoes-2" type="file" multiple="multiple">
                            </form>
                                
                <!--             < for(let i = 0; i<aprovacao.horariosSelecionados.length ; i ++){ %>  
                                <div>
                                    <input type="radio" id = "horario1" name="answer">
                                    <label>< aprovacao.horariosSelecionados[i] </label> 
                                </div>
                            } > 
                             -->
                        </div>
                    </div>
        
                    <div class="containerDireita">
                        <div class="botoes">
                            <div class="entregaveis">
                               
                            </div> 
                           
                        </div>
                        <a href="dashboardMembro_modal.html" class="informacoes">Mais informações</a>
                    </div>
                    <div class="botoes">
                        <form>
                            <input class = "botoes-2" type="file" multiple="multiple">
                        </form>
                        <div class="botao-1">
                            <p>Finalizar</p> 
                        </div>
                    </div>
                </div>
            <% } %> 
            <% } else { %>
                 <div id="containerServico">
        
                    <div class="servicoContratado1">
                        <h2>Ops! Voce ainda nao tem novas solicitacoes</h2>
                    </div>
        
                </div>
                
                <% } %> 

                </div>
                     

    </main>
</body>
</html>