<!DOCTYPE html>
<html lang="pt-br">
<%- include partials/head2.ejs %>

    <body>
        <%- include partials/headerAreaRestritaUsuarios.ejs %>
            <main>
                <div class="du-meuPerfil-info">
                    <h1>Meu perfil</h1>
                    <div class="du-meuPerfil-info-secao">
                        <div>
                            <p class="du-meuPerfil-info-secao-titulo">Nome</p>
                            <p>
                                <%=dadosUsuario.nome %>
                                    <%=dadosUsuario.sobrenome %>
                            </p>
                        </div>
                    </div>
                    <div class="du-meuPerfil-info-secao">
                        <div>
                            <p class="du-meuPerfil-info-secao-titulo">Email</p>
                            <p>
                                <%=dadosUsuario.email%>
                            </p>
                        </div>
                    </div>
                    <div class="du-meuPerfil-info-secao">
                        <div>
                            <p class="du-meuPerfil-info-secao-titulo">CPF / CNPJ</p>
                            <p>
                                <%=dadosUsuario.cpfCnpj%>
                            </p>
                        </div>
                    </div>
                    <div class="du-meuPerfil-info-secao">
                        <div>
                            <p class="du-meuPerfil-info-secao-titulo">Telefone</p>
                            <p>
                                <%=dadosUsuario.telefone%>
                            </p>
                        </div>
                    </div>
                    <p class="du-meuPerfil-info-rodape"><a href="/dashboardUsuario/alteraDados"> Alterar dados </a></p>
                    <p class="du-meuPerfil-info-rodape">Precisa alterar sua senha? <a
                            href="/dashboardUsuario/alteraSenha">Clique aqui</a></p>
                </div>
            </main>

            <!-- Footer -->
            <%- include partials/footer.ejs %>

    </body>

</html>