<!DOCTYPE html>
<html lang="pt-br">

<%- include partials/head2.ejs %>
    <link rel="stylesheet" href="sweetalert2.min.css">

    <body>
        <%- include partials/headerAreaRestritaUsuarios.ejs %>
            <main>
                <div class="ordenacao">
                    <div class="cronos">
                        <p>Ordenar por:</p>
                        <select name="ordCronologica" id="ordCronologica" class="dropdown">
                            <option value="mais nova a mais antiga">Mais nova a mais antiga</option>
                            <option value="mais antiga a mais nova">Mais antiga a mais nova</option>
                        </select>
                    </div>
                    <p>Filtrar solicitações: </p>
                    <select name="filtro" id="filtro" class="dropdown">
                        <option value="imagens postadas">Imagens postadas </option>
                        <option value="fotografo editando">Fotógrado está editando as imagens</option>
                        <option value="sessao em andamento">Sessão em andamento</option>
                        <option value="sessao agendada">Sessão agendada</option>
                    </select>
                </div>
            </main>
            <div>
                <% if(resultadoOrcamentos){ %>
                    <% for (resultadoOrcamento of resultadoOrcamentos) { %>
                        <% if(resultadoOrcamento.reservas.status=='active' ){ %>

                            <div class="containerServico">
                                <div class="containerEsquerda">
                                    <div class="servicoContratado1">
                                        <h2>Número serviço:
                                            <%=resultadoOrcamento.idSolicitacao%>
                                        </h2>

                                        <div class="info">
                                            <p class="tipo1">Endereço:</p>
                                            <p>
                                                <%=resultadoOrcamento.endereco%>
                                            </p>
                                        </div>
                                        <div class="info">
                                            <p class="tipo1">Valor do serviço:</p>
                                            <p>R$
                                                <%=resultadoOrcamento.valor%>
                                            </p>
                                        </div>
                                        <div class="info">
                                            <p class="tipo1">Tamanho aproximado do imóvel:</p>
                                            <p>
                                                <%=resultadoOrcamento.tamanhoImovel%> m²
                                            </p>
                                        </div>

                                        <div class="info">
                                            <p class="tipo1">Data do serviço</p>
                                            <p>
                                                <% const data=resultadoOrcamento.reservas.dataInicio %>
                                                    <% const dataString=data.toString() %>
                                                        <% const dataFormatada=dataString.replace("21:00:00 GMT-0300 (Brasilia Standard Time)", " " ) %>

                                                            <%=dataFormatada%> às <%=resultadoOrcamento.reservas.horarioInicio%>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="servicoContratado2">
                                        <br>
                                        <div class="info">
                                            <p class="tipo1">Serviços contratados:</p>
                                            <p>
                                                <% const servico=resultadoOrcamento.reservas.servico%>
                                                    <% const servicoString=servico.toString() %>
                                                        <% const mapObj={fotografia : " Fotografia" , fotografia3603d: " Fotografia 360 3D" , videoDinamico: " Vídeo Dinâmico" , imagensAereas: " Imagens Aéreas" }; %>
                                                            <% const servicoFormatado=servicoString.replace (/fotografia|fotografia3603d|videoDinamico|imagensAereas/gi, function (matched) {return mapObj[matched]})%>

                                                                <%=servicoFormatado%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="containerDireita">
                                    <div class="status">
                                        <div class="fases">
                                            <p>Sessão agendada</p>
                                            <p>Sessão em andamento</p>
                                            <p>Imagens em edição</p>
                                            <p>Imagens postadas</p>
                                        </div>
                                    </div>

                                    <div class="farol">
                                        <div class="bolinhas">
                                            <%if(resultadoOrcamento.reservas.status=='active' ||resultadoOrcamento.reservas.status=='Sessão em andamento' ||resultadoOrcamento.reservas.status=='Imagens em edição' ||resultadoOrcamento.reservas.status=='Imagens postadas' ) { %>
                                                <div class="bolaOk"> 1 </div>
                                                <% }else{ %>
                                                    <div class="bola"> 1 </div>
                                                    <% } %>
                                                        <%if(resultadoOrcamento.reservas.status=='Sessão em andamento' || resultadoOrcamento.reservas.status=='Imagens em edição' || resultadoOrcamento.reservas.status=='Imagens postadas' ) { %>
                                                            <div class="bolaOk"> 2 </div>
                                                            <% }else{ %>
                                                                <div class="bola"> 2 </div>
                                                                <% } %>
                                                                    <%if(resultadoOrcamento.reservas.status=='Imagens em edição' || resultadoOrcamento.reservas.status=='Imagens postadas' ) { %>
                                                                        <div class="bolaOk"> 3 </div>
                                                                        <% }else{ %>
                                                                            <div class="bola"> 3 </div>
                                                                            <% } %>
                                                                                <%if(resultadoOrcamento.reservas.status=='Imagens postadas' ) { %>
                                                                                    <div class="bolaOk"> 4 </div>
                                                                                    <% }else{ %>
                                                                                        <div class="bola"> 4 </div>
                                                                                        <% } %>
                                        </div>
                                        <div class="linha"> </div>
                                    </div>
                                    <%if(resultadoOrcamento.reservas.status=='Imagens postadas' ) { %>
                                        <div class="botoes">
                                            <form>
                                                <div class="prestador">
                                                    <a href="dashboardUsuario_modalInfoPrestador.html"> Informações
                                                        prestador</a>
                                                </div>
                                            </form>
                                            <form>
                                                <div class="entregaveis">
                                                    <a href="/dashboardUsuario/entregaveis/<%=solicitacao.idServico%>"> Ver
                                                        entregáveis </a>
                                                </div>
                                            </form>
                                        </div>
                                        <% } else { %>
                                            <div class="botoes">
                                                <form>
                                                    <div class="prestador">

                                                    </div>
                                                </form>
                                            </div>
                                            <% } %>


                                                <div class="botoes">
                                                    <p>Ocorreu algum imprevisto e precisa cancelar? </p>
                                                    <button class="botao-1" id="salva-alteracoes" onclick="abreAlertDelete('<%-resultadoOrcamento.idSolicitacao%>')">CANCELAR</b preutt=on>
                                                </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% } %>
            </div>

            <script type="text/javascript" src="/js/sweetAlert.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


            <%- include partials/footer.ejs %>

    </body>

</html>

<